<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SmartSpend | Summary </title>
</head>
<body>
    <h2>Your Expenses</h2>
    <table border="1">
        <thead>
            <tr><th>Category</th><th>Amount</th><th>Date</th></tr>
        </thead>
        <tbody>
            {% for row in rows %}
            <tr>
                <td>{{ row[1] }}</td>
                <td>${{ row[2] }}</td>
                <td>{{ row[3] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <h3>Total: ${{ total_val }}</h3>
</body>
</html>